<style>
    .topPage {
        width:100%;
        height:100px;
        background-color:#CCC;
    }

    .topCompanySection {
        border:solid 5px lightblue;
        border-radius: 5px;
        float:left;
        height:90px;
        margin-top: 4px;
        margin-left:1%;
        width:8.5%;
    }

    .sectionLogo {
        border: solid 1px #999;
        float: left;
        height: 90px;
        width: 15%;
        margin-top: 4px;
        margin-left: 1%;
    }

    .sectionBanner {
        border: solid 1px #999;
        height: 90px;
        width: 48%;
        float: left;
        margin-top: 4px;
        margin-left: 10%;
    }

    .sectionRegister {
        border: solid 1px #999;
        height: 90px;
        width: 15%;
        float: right;
        margin-right: 1%;
        margin-top: 4px;
    }

    .top10Companies {
        width: 90%;
        height: 100px;
        background-color: #CCC;
        margin-top: 3%;
        margin-left: 5%;
    }

    .mainMiddle {
        width:100%;
        height:260px;
{#        background-color:#CCC;#}
        margin-top: 3%;
    }

    .howSiteWorks {
        margin-left: 2%;
        width: 30%;
        height: 250px;
        background-color: bisque;
        float: left;
        margin-top: 4px;
        border: 1px solid black;
    }

    .mainMenu {
        width: 60%;
        height: 60px;
        float: left;
        margin-left: 1%;
        margin-top: 20px;
    }

    .menuItemOuter {
        border:solid 1px black;
        float:left;
        height:50px;
        margin-top: 4px;
        margin-left:2%;
        width:30%;
        display: table;
        overflow: hidden;
        background-color: cadetblue;
    }

    .menuItemInner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    .suggestJob {
        width: 40%;
        height: 60px;
        margin-top: 20px;
        margin-left: 10%;
        border: 1px solid black;
        float: left;
        display: table;
        overflow: hidden;
    }

    .suggestJobButton {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: darkcyan;
    }

    .jobsSuggestions {
        width: 60%;
        margin: 0 auto;
        background-color: antiquewhite;
        overflow-y: auto;
    }
</style>

{#<script type="text/javascript" src="/static/remont/js/index.js"></script>#}
<script type="text/javascript" src="{{ STATIC_URL }}remont/js/index.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}remont/js/jquery-2.1.3.min.js"></script>

<div class="topPage">
	<div id="sectionLogo" class="sectionLogo" style="background-color: red">Place logo here</div>
    <div id="sectionBanner" class="sectionBanner" style="background-color: green">Place banner here</div>
    <div id="sectionRegister" class="sectionRegister" style="background-color: ">
		<a href="/remont/register">Регистрация</a>/<a href="/login">Вход</a>
    </div>
</div>

<div class="top10Companies">
    <div class="topCompanySection">Company 1</div>
    <div class="topCompanySection">Company 2</div>
    <div class="topCompanySection">Company 3</div>
    <div class="topCompanySection">Company 4</div>
    <div class="topCompanySection">Company 5</div>
    <div class="topCompanySection">Company 6</div>
    <div class="topCompanySection">Company 7</div>
    <div class="topCompanySection">Company 8</div>
</div>

<div class="mainMiddle">
    <div id="videoHowItworks" class="howSiteWorks">Video about how the site works</div>
    <div id="menuDiv" class="mainMenu">
        <div class="menuItemOuter">
            <div class="menuItemInner">
                <a href="/remont/jobs_catalog">Каталог работ</a>
            </div>
        </div>
        <div class="menuItemOuter">
            <div class="menuItemInner">
                <a href="/remont/goods_catalog">Каталог товаров</a>
            </div>
        </div>
        <div class="menuItemOuter">
            <div class="menuItemInner">
                <a href="/remont/usefull_articles">Полезные статьи</a>
            </div>
        </div>
    </div>
    
    <div class="suggestJob">
        <div class="suggestJobButton">
            <a href="/remont/suggest_job">Предложить работу</a>
        </div>
    </div>
</div>

<div class="jobsSuggestions">
    <h2>Недавно добавленные заказы и тендеры</h2>
    <ul>
        {% for job in jobSuggestions%}
            <li>
                <div style="border: 1px solid black; margin-left: 10px; margin-top: 10px">
                    <h3>{{ job.short_header}}</h3>
                    <h5>{{ job.job_type.name }}</h5>
                    <div>
                        <span>{{ job.date_created }}</span>
                        <p>{{ job.description }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
        <li>
            <div style="margin-top: 10px; background-color: brown; width: 30%" onclick="showMore()">
                Показать больше
            </div>
        </li>
    </ul>
</div>
